[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group ldap/onap-gerrit-oom-platform-cert-service-committers
	forgeCommitter = group ldap/lf-gerrit-transfer
	push = group ldap/lf-gerrit-transfer
	pushMerge = group ldap/lf-gerrit-transfer
[project]
	description = \"oom/platform/cert-service\"\n
[plugin "its-jira"]
	enabled = false
